<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="/app/app.component.css">
  <link type="text/css" href="styles.css">
</head>

<body>
  <div class="toolbar" role="banner">
    <img
      width="80"
      alt="Logo"
      src="\assets\LogoBlanco.png"
    >
    <div class="spacer"></div>

    <div class="a" onclick="console.log('Hola mundo 2')">&nbsp;Iniciar Sesión&nbsp;</div>
    <div class="a" onclick="console.log('Hola mundo 2')">&nbsp;Registrarse&nbsp;</div>
  </div>

  <div class="content" role="main">
    <h1>Bienvenido a Sisma</h1>
    <p id="demo"></p>
    <p>Un sistema de evaluaciones.</p>
  </div>

  <footer>
    <p style="color: antiquewhite;">Trademark</p>
  </footer>

</body>

</html>